body {
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
  }
  
  .command-prompt {
    background-color: #000;
    background-image: url("https://github.com/DevilGlitch/catgurl.online/blob/main/visualAssets/catonlinebackground2.png?raw=true");  
    color: #fff;
    padding: 30vh;
    border: 2px solid #fff;
    border-radius: 5px;
  }
